* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #111;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #000;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  color: red;
  font-size: 26px;
  font-weight: bold;
}

.nav li {
  display: inline;
  margin: 0 10px;
  cursor: pointer;
}

.nav li:hover {
  color: red;
}

/* HERO */
.hero {
  height: 60vh;
  background: linear-gradient(to top, #111, transparent),
    url("https://picsum.photos/1200/600");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

/* CONTENT */
.content {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  height: 260px;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}

.card span {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.8);
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

.like {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  padding: 5px 7px;
  border-radius: 50%;
  font-size: 14px;
}

/* MODALS */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: #222;
  padding: 30px;
  width: 320px;
  text-align: center;
  position: relative;
  border-radius: 8px;
}

.modal-box span {
  position: absolute;
  top: 8px;
  right: 12px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

/* QR STYLING */
.qr-box {
  width: 340px;
}

.qr-image {
  width: 220px;
  height: auto;
  margin: 15px auto;
  display: block;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

.upi-text {
  font-size: 14px;
  opacity: 0.9;
}

.pay-text {
  font-size: 14px;
  margin-top: 8px;
}
